.Landingpage {
  text-align: center;
  height: 967px;
  display: flex;
  flex-direction: row;
}
.Landingpage .glass-left {
  border-radius: 0 5% 5% 0;
  font-size: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 40%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  mix-blend-mode: screen;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Landingpage .glass-left h1 {
  margin-top: -100px;
}
.Landingpage .transparent-right {
  height: 100%;
  width: 50%;
  font-size: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Landingpage .transparent-right h1 {
  margin-top: -100px;
}
.Landingpage .transparent-right .contenedor {
  position: absolute;
  font-size: 45px;
  margin-top: -850px;
  margin-left: 45%;
}
.Landingpage .transparent-right .contenedor button {
  background-color: white;
  font-size: 30px;
  width: 220px;
  height: 60px;
  border-radius: 25px;
  border-style: none;
  cursor: pointer;
  font-weight: bold;
  mix-blend-mode: screen;
}
.Landingpage .transparent-right .contenedor button:hover {
  font-weight: bold;
  background-color: black;
  color: white;
  mix-blend-mode: multiply;
}
.Landingpage .transparent-right .invisible {
  margin-bottom: 505px;
}
.Landingpage .glass-left-animation {
  position: fixed;
  right: -100vw;
  transition: 2s;
  border-radius: 0 5% 5% 0;
  font-size: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 40%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  mix-blend-mode: screen;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Landingpage .glass-left-animation h1 {
  margin-top: -100px;
}
.Landingpage .transparent-right-animation {
  position: fixed;
  right: -100vw;
  transition: all 2s;
  height: 100%;
  width: 50%;
  font-size: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Landingpage .transparent-right-animation h1 {
  margin-top: -100px;
}
.Landingpage .transparent-right-animation .contenedor {
  position: absolute;
  font-size: 45px;
  margin-top: -850px;
  margin-left: 45%;
}
.Landingpage .transparent-right-animation .contenedor button {
  background-color: white;
  font-size: 30px;
  width: 220px;
  height: 60px;
  border-radius: 25px;
  border-style: none;
  cursor: pointer;
  font-weight: bold;
  mix-blend-mode: screen;
}
.Landingpage .transparent-right-animation .contenedor button:hover {
  font-weight: bold;
  background-color: black;
  color: white;
  mix-blend-mode: multiply;
}
.Landingpage .transparent-right-animation .invisible {
  margin-bottom: 505px;
}
.Homepage {
  background-image: url('../image/huellas-2.jpg');
}
.Homepage .contenedor-paginado {
  backdrop-filter: blur(1.5px) brightness(50%);
}
.Homepage .botonesPaginado {
  display: flex;
  justify-content: space-evenly;
  margin-left: 40%;
  margin-right: 40%;
}
.Homepage .botonesPaginado button {
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  height: 40px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}
.Homepage .botonesPaginado button:hover {
  background-color: black;
  color: white;
}
.Dogdetail .contenedor-detalle {
  height: 445px;
  width: 90%;
  margin: 5%;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.Dogdetail .contenedor-detalle img {
  border-radius: 20px;
}
.Dogdetail .contenedor-detalle div {
  margin: 5%;
}
.Dogdetail .contenedor-detalle .contenedor-glass-detail {
  position: absolute;
  z-index: -1;
  margin-left: 0px;
  width: 90%;
  height: 445px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  mix-blend-mode: screen;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Createdog .contenedor-glass-createdog {
  position: absolute;
  z-index: -1;
  height: 610px;
  width: 90%;
  margin-top: -5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  mix-blend-mode: screen;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Createdog .contenedor-formulario {
  height: 600px;
  margin-top: -5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
  border-radius: 20px;
  text-align: center;
}
.Createdog .contenedor-formulario .contenedorinputs {
  display: flex;
  flex-direction: column;
}
.Createdog .contenedor-formulario .contenedorinputs input {
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  background: white;
  border-style: none;
  mix-blend-mode: screen;
}
.Createdog .contenedor-formulario .contenedorinputs select {
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  mix-blend-mode: screen;
  text-align: center;
}
.Createdog .contenedor-formulario .contenedorinputs select option {
  font-weight: bold;
}
.Createdog .contenedor-formulario .contenedorinputs textarea {
  font-size: 18px;
  border-radius: 15px;
  width: 60%;
}
.Createdog .contenedor-formulario .contenedorinputs div {
  margin-top: 20px;
  margin-bottom: 20px;
}
.Createdog .contenedor-formulario .contenedorinputs .input-altura input {
  margin-left: 2%;
  margin-right: 2%;
  width: 50px;
  text-align: center;
}
.Createdog .contenedor-formulario .contenedorinputs .input-peso input {
  margin-left: 2%;
  margin-right: 2%;
  width: 50px;
  text-align: center;
}
.Createdog .contenedor-formulario .contenedorinputs .input-vida {
  width: 50px;
  text-align: center;
}
.Createdog .contenedor-formulario .contenedorinputs label {
  font-weight: bold;
  font-size: 20px;
}
.Createdog .contenedor-formulario .contenedorinputs .boton-createdog {
  width: 100px;
}
.Createdog .contenedor-formulario .contenedorinputs .boton-createdog:hover {
  background: black;
  color: white;
  cursor: pointer;
  mix-blend-mode: multiply;
}
.Carddog {
  z-index: 1;
  border-radius: 15px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.Carddog .imageDog {
  padding-top: 5%;
  text-align: center;
}
.Carddog .imageDog img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.Carddog .info {
  text-align: center;
}
.Carddog .info a {
  text-decoration: none;
  color: black;
}
.InputBusqueda {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
  background: #EEEEEE;
}
.InputBusqueda input {
  font-size: 20px;
  border-radius: 15px;
  border-style: none;
}
.InputBusqueda button {
  height: 35px;
  background: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  mix-blend-mode: screen;
}
.InputBusqueda button:hover {
  background-color: black;
  color: white;
  mix-blend-mode: multiply;
}
.InputBusqueda select {
  background: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  mix-blend-mode: screen;
}
.Paginado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 10%;
}
.Paginado div {
  margin-top: 5%;
  margin-bottom: 5%;
}
.Paginado .glass-div {
  margin-top: 20px;
  position: absolute;
  border-radius: 15px;
  z-index: -1;
  height: 400px;
  width: 400px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Paginado .glass-div2 {
  margin-top: 20px;
  position: absolute;
  border-radius: 15px;
  z-index: -2;
  height: 400px;
  width: 400px;
  background-image: url('../image/huellas-2.jpg');
  opacity: 0.55;
  filter: blur(4px);
}
.Navbar {
  width: 100%;
  height: 55px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #EEEEEE;
}
.Navbar button {
  height: 35px;
  width: 100px;
  background: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  mix-blend-mode: screen;
}
.Navbar button:hover {
  background-color: black;
  color: white;
  mix-blend-mode: multiply;
}
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  padding-bottom: 35%;
}
.Loading .preloader {
  width: 170px;
  height: 170px;
  border: 10px solid #eee;
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
