.Landingpage {
  text-align: center;
  height: 960px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Landingpage .glass-left {
  height: 100%;
  width: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background: #EEEEEE;
  opacity: 0.6;
  filter: blur(5px);
}
.Landingpage .transparent-right {
  height: 100%;
  width: 50%;
}
.Landingpage .contenedor {
  position: absolute;
  font-size: 45px;
  margin-top: 200px;
}
.Landingpage .contenedor button {
  background-color: white;
  font-size: 30px;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
}
.Landingpage .contenedor .contenedor-texto {
  display: flex;
}
.Landingpage .contenedor .contenedor-texto .right-text {
  margin-left: 5px;
  text-align: start;
  color: white;
}
.Landingpage .contenedor .contenedor-texto .left-text {
  margin-left: 45px;
  margin-right: 5px;
  text-align: end;
}
.Homepage .botonesPaginado {
  display: flex;
  justify-content: space-evenly;
  margin-left: 40%;
  margin-right: 40%;
}
.Homepage .botonesPaginado button {
  font-size: 18px;
  border-radius: 10px;
}
.contenedor-detalle {
  background: #EEEEEE;
  width: 90%;
  margin: 5%;
  border-radius: 20px;
  display: flex;
}
.contenedor-detalle img {
  border-radius: 20px;
}
.contenedor-detalle div {
  margin: 5%;
}
.Createdog {
  height: 700px;
  background: whitesmoke;
  margin: 5%;
  border-radius: 20px;
  text-align: center;
}
.Createdog .contenedor-formulario {
  height: 100%;
  width: 100%;
}
.Createdog .contenedor-formulario .contenedorinputs {
  display: flex;
  flex-direction: column;
}
.Createdog .contenedor-formulario .contenedorinputs input {
  font-size: 20px;
  border-radius: 15px;
}
.Createdog .contenedor-formulario .contenedorinputs select {
  font-size: 20px;
  border-radius: 15px;
}
.Createdog .contenedor-formulario .contenedorinputs textarea {
  font-size: 18px;
  border-radius: 15px;
  width: 60%;
}
.Createdog .contenedor-formulario .contenedorinputs div {
  margin-top: 20px;
  margin-bottom: 20px;
}
.Createdog .contenedor-formulario .contenedorinputs .input-altura input {
  margin-left: 2%;
  margin-right: 2%;
}
.Createdog .contenedor-formulario .contenedorinputs .input-peso input {
  margin-left: 2%;
  margin-right: 2%;
}
.Carddog {
  background: #EEEEEE;
  border-radius: 15px;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.Carddog .imageDog {
  padding-top: 5%;
  text-align: center;
}
.Carddog .imageDog img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.Carddog .info {
  text-align: center;
}
.Carddog .info a {
  text-decoration: none;
  color: black;
}
.InputBusqueda {
  margin-top: 20px;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
}
.InputBusqueda input {
  font-size: 20px;
  border-radius: 10px;
}
.InputBusqueda button {
  font-size: 18px;
  border-radius: 10px;
}
.InputBusqueda select {
  font-size: 18px;
  border-radius: 10px;
}
.Paginado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Paginado div {
  margin-top: 5%;
  margin-bottom: 5%;
}
